<style>
  img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: block;
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="https://avatars.githubusercontent.com/u/40237204?v=4" width="75" height="50">
</a>
